@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-900;
  }
}

/* Kahoot specific juicy animations */
@keyframes pop {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes floatUp {
  0% {
    transform: translateY(0vh) scale(0.5);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh) scale(1.5);
    opacity: 0;
  }

  /* Move WAY up */
}

.animate-floatUp {
  animation: floatUp 3s ease-in-out forwards;
}